<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include("../partials/head", {title: 'All Products'}) %>
    <link rel="stylesheet" href="/css/styles-carrito.css" />
  </head>
<body>
    <!-- Header -->
    <%- include("../partials/header") %>
     <!-- Header -->
    
    <section>
        <article>
            <H3 class="marca">TODO EN COMPUTADORES</H3>
            <div class="tarjetas flex">
                      
                <% products.forEach(product => { %>
                    <%- include("../partials/product-card",{product}) %>   
                <% }); %>
        </article>
    </section>
      <!-- footer -->
    <footer class="foot"><%- include("../partials/footer") %></footer>
      <!-- footer -->
</body>
</html>