<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/register.css"/>
    <title>Crear Producto</title>
</head>
<body>
    <%- include('../partials/header') %>

    <main  class="reg-form-main reg-flex reg-flex-center">
        <form action="/unaRuta" method="post" class="reg-grow-70 reg-md-flex">
            <div class="reg-mb-15 reg-md-prod">
                <label>Nombre:</label>
                <input type="text" name="nombreProd" placeholder="nombre del producto" class="reg-form-input">
            </div>

            <div class="reg-mb-15 reg-md-prod">
                <label>Precio:</label>
                <input type="number" name="precio" placeholder="123.45" class="reg-form-input">
            </div>

            <div class="reg-mb-15 reg-md-prod">
                <label>Marca:</label>
                <select name="marca" class="reg-form-input">
                    <option value="marca1">Marca1</option>
                    <option value="marca2">Marca2</option>
                    <option value="marca3">Marca3</option>
                    <option value="marca4">Marca4</option>
                </select>
            </div>

            <div class="reg-mb-15 reg-md-prod">
                <label>Modelo:</label>
                <select name="modelo" class="reg-form-input">
                    <option value="modelo1">Modelo1</option>
                    <option value="modelo2">Modelo2</option>
                    <option value="modelo3">Modelo3</option>
                    <option value="modelo4">Modelo4</option>
                </select>
            </div>

            <div class="reg-mb-15 reg-md-prod">
                <label>Categoría:</label>
                <select name="categoria" class="reg-form-input">
                    <option value="categoria1">Categoria1</option>
                    <option value="categoria2">Categoria2</option>
                    <option value="categoria2">Categoria3</option>
                </select>    
            </div>

            <div class="reg-mb-15 reg-md-prod">
                <label>Descripción:</label>
					<textarea name="descripcion" maxlength="500" placeholder="describi el producto" class="reg-form-input"></textarea>
            </div>

            <div class="reg-mb-15 reg-md-prod">
                <label for="prod-foto">Foto del producto:</label>
                <input type="file" name="prod-foto" id="prod-foto" class="reg-form-input">
            </div>

            <div class="reg-mb-15 reg-md-prod">
                <label>Está en oferta:</label>
                <input type="radio" name="enOferta">
            </div>

            <div class="reg-mb-15">
                <button type="submit" class="reg-button">Crear Producto</button>

                <button type="reset" class="reg-button-login">Cancelar</button>
            </div>

        </form>
    </main>

    <footer class="h-foot">
       <%- include('../partials/footer') %>
    </footer>
</body>
</html>