<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.cdnfonts.com/css/helvetica-neue-55" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles-p-d.css">
    <link rel="stylesheet" href="/css/index.css">
    <title>Detalle de Producto - HorizonX</title>
</head>

<body>
    <header class="hcolor-header h-header">
        <div class="final">
            <nav class="menu flex hend">
                <div class="hlogo">
                    <img src="/images/Frame.png" alt="" />
                </div>
                <div class="nav-bar-pc"><a href="">Lo ultimo</a></div>
                <div class="nav-bar-pc"><a href="">Celulares</a></div>
                <div class="nav-bar-pc"><a href="">PCs</a></div>
                <div class="nav-bar-pc"><a href="">Accesorios</a></div>
                <!-- <div class="icon-nav-pc nav-bar-pc"> -->
                <div class="nav-bar-pc icon-nav-pc"><a href="/login"><i class="fa-solid fa-user"></i></a></div>
                <div class="nav-bar-pc icon-nav-pc"><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></div>
                <div class="nav-bar-pc icon-nav-pc"><a href="/productDetail"><i
                            class="fa-solid fa-cart-shopping"></i></a></div>
                <!-- </div> -->
                <!-- <div class="m-1">
                 -->
                <div class="h-open-close nav-bar-pc ham">
                    <i class="fa-solid fa-bars"></i>
                </div>
        </div>
        </nav>
        <!-- <aside id="aside" class="flex fin">
                <div class="container-svg h-enlaces">
                    <a href="">Lo ultimo</a>
                    <a href="">Celulares</a>
                    <a href="">PCs</a>
                    <a href="">Accesorios</a>
                    <a href="">Arma Tu PC</a>
                </div>
            </aside> -->
        </div>
    </header>

    <main>
        <div class="product">
            <div class="product-image">
                <img src="/images/amd-ryzen-5-7600.png" alt="Procesador HorizonX">
            </div>
            <div class="product-details">
                <h1>Procesador AMD Ryzen 5 7600</h1>
                <p class="price">$249.000</p>
                <p class="description">El procesador AMD Ryzen 5 7600 con Gráficos Radeon 100-100001015BOX es un
                    componente de hardware para computadoras de escritorio fabricado por AMD. Este procesador admite
                    tipos de memoria DDR5-SDRAM y tiene una velocidad de reloj que va desde los 3600 hasta los 5200 MHz.
                </p>
                <div class="product-actions">
                    <button class="add-to-cart">Agregar al Carrito</button>
                    <button class="buy-now">Comprar Ahora</button>
                </div>
            </div>
        </div>
    </main>
    <section class="social-ad">
        <h2>Síguenos en nuestras redes sociales</h2>
        <div class="social-icons">
            <a href="#"><img src="instagram-icon.png" alt="Instagram"></a>
            <a href="#"><img src="twitter-icon.png" alt="Twitter"></a>
        </div>
    </section>

    <footer>
        <p>&copy; 2023 HorizonX. Todos los derechos reservados.</p>
    </footer>

    <script src="scripts.js"></script>
</body>

</html>