
    <div class="h-foot">
        <div >
            <ul class="informacion"> 
                <li><h3>Informacion</h3></li>
                <li><a href="#">¿Quienes Somos?</a></li>
                <li><a href="#">¿Que Hacemos?</a></li>
                
            </ul>
        </div> 
        <div>
            <h3>Nuestras Redes</h3>
            <ul  class="h-foot-icon">
                <li class="icon-nav"><a href="#"><i class="fa-brands fa-facebook "></i></a></li>
                <li class="icon-nav"><a href="#"><i class="fa-brands fa-square-instagram"></i></a></li>
                <li class="icon-nav"><a href="#"><i class="fa-brands fa-square-twitter"></i></a></li>
            </ul>
        </div>
        <h3 class="f-3">¿Donde Estamos?</h3> 
    </div>
     <h3 class="copi">
        © 2023 HORIZONX - Todos los derechos reservados   
    </h3>  
