<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.cdnfonts.com/css/helvetica-neue-55" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Document</title>
</head>

<body>
    <header class="hcolor-header h-header">
        <div class="final">
            <nav class="menu flex hend">
                <div class="hlogo">
                    <img src="/images/Frame.png" alt="" />
                </div>
                <div class="nav-bar-pc"><a href="">Lo ultimo</a></div>
                <div class="nav-bar-pc"><a href="">Celulares</a></div>
                <div class="nav-bar-pc"><a href="">PCs</a></div>
                <div class="nav-bar-pc"><a href="">Accesorios</a></div>
                <!-- <div class="icon-nav-pc nav-bar-pc"> -->
                    <div class="nav-bar-pc icon-nav-pc"><a href="/login"><i class="fa-solid fa-user"></i></a></div>
                    <div class="nav-bar-pc icon-nav-pc"><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></div>
                    <div class="nav-bar-pc icon-nav-pc"><a href="/productDetail"><i class="fa-solid fa-cart-shopping"></i></a></div> 
                <!-- </div> -->
                <!-- <div class="m-1">
                 -->
                <div class="h-open-close nav-bar-pc">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>
            </nav>
            <!-- <aside id="aside" class="flex fin">
                <div class="container-svg h-enlaces">
                    <a href="">Lo ultimo</a>
                    <a href="">Celulares</a>
                    <a href="">PCs</a>
                    <a href="">Accesorios</a>
                    <a href="">Arma Tu PC</a>
                </div>
            </aside> -->
        </div>
    </header>
    <section>
        <div class="slider-container">
            <img class="slider-item" src="/images/banner-landing-gamingv2.jpg" />
            <img class="slider-item" src="/images/descarga.jpeg" />
            <img class="slider-item" src="/images/PC_Ryzen_7_2060.png" />
        </div>
    </section>
    <script src="/src/barra.js"></script>
    <div class="nav-bar">
        <div><a href="/login"><i class="fa-solid fa-user"></i></a></div>
        <div><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></div>
        <div><a href="/productDetail"><i class="fa-solid fa-cart-shopping"></i></a></div>       
    </div>
    
    <section >
        <div class="accesorios">
            <a href="#"><img class="accesorios" src="\images\accesorios.png" alt=""></a>
        </div>
    </section>
    <footer >
        <div class="h-foot">
            <div >
                <ul class="informacion"> 
                    <li><h3>Informacion</h3></li>
                    <li><a href="#">¿Quienes Somos?</a></li>
                    <li><a href="#">¿Que Hacemos?</a></li>
                    
                </ul>
            </div> 
            <div>
                <h3>Nuestras Redes</h3>
                <ul  class="h-foot-icon">
                    <li class="icon-nav"><a href="#"><i class="fa-brands fa-facebook "></i></a></li>
                    <li class="icon-nav"><a href="#"><i class="fa-brands fa-square-instagram"></i></a></li>
                    <li class="icon-nav"><a href="#"><i class="fa-brands fa-square-twitter"></i></a></li>
                </ul>
            </div>
            <h3 class="f-3">¿Donde Estamos?</h3> 
        </div>
         <h3 class="copi">
            © 2023 HORIZONX - Todos los derechos reservados   
        </h3>  
    </footer>
</body>

</html>