<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.cdnfonts.com/css/helvetica-neue-55" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles-p-d.css">
    <title>Detalle de Producto - HorizonX</title>
</head>

<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <img src="/images/logo.png" alt="HorizonX Logo">
            </div>
            <div class="mobile-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Registrate</a></li>
                    <li><a href="/productCart">Carrito</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="product">
            <div class="product-image">
                <img src="/images/amd-ryzen-5-7600.png" alt="Procesador HorizonX">
            </div>
            <div class="product-details">
                <h1>Procesador AMD Ryzen 5 7600</h1>
                <p class="price">$249.000</p>
                <p class="description">El procesador AMD Ryzen 5 7600 con Gráficos Radeon 100-100001015BOX es un
                    componente de hardware para computadoras de escritorio fabricado por AMD. Este procesador admite
                    tipos de memoria DDR5-SDRAM y tiene una velocidad de reloj que va desde los 3600 hasta los 5200 MHz.
                </p>
                <div class="product-actions">
                    <button class="add-to-cart">Agregar al Carrito</button>
                    <button class="buy-now">Comprar Ahora</button>
                </div>
            </div>
        </div>
    </main>
    <section class="social-ad">
        <h2>Síguenos en nuestras redes sociales</h2>
        <div class="social-icons">
            <a href="#"><img src="instagram-icon.png" alt="Instagram"></a>
            <a href="#"><img src="twitter-icon.png" alt="Twitter"></a>
        </div>
    </section>

    <footer>
        <p>&copy; 2023 HorizonX. Todos los derechos reservados.</p>
    </footer>

    <script src="scripts.js"></script>
</body>

</html>