<header class="hcolor-header h-header">
    <div class="final">
        <nav class="menu flex hend">
            <div class="hlogo">
                <a href="/"><img src="/images/Frame.png" alt="" /></a>
            </div>
            <div class="nav-bar-pc"><a href="">Lo ultimo</a></div>
            <div class="nav-bar-pc"><a href="">Celulares</a></div>
            <div class="nav-bar-pc"><a href="">PCs</a></div>
            <div class="nav-bar-pc"><a href="">Accesorios</a></div>
            <!-- <div class="icon-nav-pc nav-bar-pc"> -->
                <div class="nav-bar-pc icon-nav-pc"><a href="/users/login"><i class="fa-solid fa-user"></i></a></div>   
                <div class="nav-bar-pc icon-nav-pc"><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></div>
                <div class="nav-bar-pc icon-nav-pc"><a href="/products/cart"><i class="fa-solid fa-cart-shopping"></i></a></div> 
                
            <div class="h-open-close nav-bar-pc ham">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
        </nav>
        <% if (user_log) { %>
                   <h4 style="color: white; text-align: center; font-size: 1.2rem;">Hola <%= user_log %></h4>
        <% } %>
    </div>
</header>