<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include("partials/head", {title: 'Inicio'}) %>
    <link rel="stylesheet" href="/css/styles-p-d.css" />
  </head>

  <body>
    <%- include("partials/header") %>
    <section>
      <div class="slider-container">
        <img class="slider-item" src="/images/carrusel-1.jpg" />
        <img class="slider-item" src="/images/carrusel-2.jpg" />
        <img class="slider-item" src="/images/carrusel-3.jpg" />
      </div>
    </section>
    <section>
      <h3 class="titular-2">¡Las Mejores Marcas!</h3>
      <div class="tarjetas flex">
        <div class="tarjeta flex">
          <a href="./products/brand/apple">
            <div class="img-tarjeta">
              <img src="/images/apple.png" alt="" width="" />
            </div>
            APPLE</a
          >
        </div>

        <div class="tarjeta flex">
          <a href="./products/brand/asus">
            <div class="img-tarjeta">
              <img src="/images/Asus-pc.png" alt="" width="" />
            </div>
            Asus</a
          >
        </div>

        <div class="tarjeta flex">
          <a href="./products/brand/corsair">
            <div class="img-tarjeta">
              <img src="/images/corsair.png" alt="" width="" />
            </div>
            Corsair</a
          >
        </div>

        <div class="tarjeta flex">
          <a href="./products/brand/lenovo">
            <div class="img-tarjeta">
              <img src="/images/lenovo-2.png" alt="" width="" />
            </div>
            Lenovo</a
          >
        </div>
      </div>
    </section>
    <section>
      <div class="accesorios">
        <a href="./products/brand/razer"
          ><img class="accesorios" src="\images\banner.png" alt=""
        /></a>
      </div>
    </section>
    <section>
      <h3 class="titular-2">Lo mas buscado</h3>
      <div class="tarjetas flex">
        <% mostVisitedProducts.forEach(product => { %> <%-
        include("./partials/product-card",{product}) %> <% }); %>

        <!-- <div class="tarjeta-producto flex">
          <div class="img-tarjeta">
            <img
              src="/images/best-macbooks-to-buy-2-1683051709961.jpg"
              alt=""
              width=""
            />
          </div>
          <p class="descripcion-tarjeta">
            Apple Macbook Air (13 pulgadas, 2020, Chip M1, 256 GB de SSD, 8 GB
            de RAM) - Gris espacial
          </p>
          <h3>$203.000</h3>
        </div>
        <div class="tarjeta-producto flex">
          <div class="img-tarjeta">
            <img src="/images/monitor.jpeg" alt="" width="" />
          </div>
          <p class="descripcion-tarjeta">
            Monitor gamer Samsung F24T35 led 24" azul y gris oscuro 100V/240V
          </p>
          <h3>$100.000</h3>
        </div>
        <div class="tarjeta-producto flex">
          <div class="img-tarjeta">
            <img src="/images/Teclado-mouse.png" alt="" width="" />
          </div>
          <p class="descripcion-tarjeta">
            El combo de teclado y mouse TJ-808 es perfecto para ayudarte a
            desarrollar tus actividades diarias.
          </p>
          <h3>$20.000</h3>
        </div>
        <div class="tarjeta-producto flex">
          <div class="img-tarjeta">
            <img src="/images/audifonos.png" alt="" width="" />
          </div>
          <p class="descripcion-tarjeta">
            Características de Harman JBL Tune 510BT JBLT510BT
          </p>
          <h3>$80.000</h3>
        </div> -->
      </div>
    </section>
    <script src="/src/barra.js"></script>
    <div class="nav-bar">
      <div>
        <a href="/users/login"><i class="fa-solid fa-user"></i></a>
      </div>
      <div>
        <a href="/products"><i class="fa-solid fa-magnifying-glass"></i></a>
      </div>
      <div>
        <a href="/products/cart"><i class="fa-solid fa-cart-shopping"></i></a>
      </div>
    </div>

    <footer class="foot"><%- include("partials/footer") %></footer>
  </body>
</html>
